html{
    min-width: 1200px;
}
header{
    width:100%;
    height:120px;
    background:url("../img/video-top.png");
}
.nav{
    width:1200px;
    height:90px;
    margin: 0 auto;
}
.nav ul{
    width:350px;
}
.nav ul li{
    float: left;
    width:28px;
    height:56px;
    border-top:3px solid transparent;
    margin-left:22px;
}
.nav ul li:hover{
    border-top:3px solid white;
}
.nav ul li a{
    color:white;
    font-size:11px;
    line-height:95px;
}
header input{
    width:200px;
    height:25px;
    border: none;
    background:#d6dde0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-image: url("../img/search.png");
    background-repeat:  no-repeat;
    background-position:177px;
    padding-left: 10px;
}
header input::placeholder{
    color:#8d9294;
}



/*****/
.content{
    width:1200px;
    height:700px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-size:28px;
    margin-top:60px;
    margin-bottom:30px;
    color:#150c31;
}
.content-list{
    width:415px;
    height:520px;
    border:1px solid #ebebeb;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow:0px 0px 5px 5px #e7e7e7;
    padding-left:70px;
    padding-right:70px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.content-list img{
    margin-top:38px;
    margin-bottom:25px;
}
.content-list h6{
    font-size:18px;
    font-weight:normal;
    margin-bottom:30px;
}
.content-list p{
    font-size:18px;
    color:#828282;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
/****/
.join{
    width:100%;
    height:223px;
    background: url("../img/join.png");
    background-size: 100% 100%;
    text-align: center;
    padding-top:60px;
}
.join b{
    color:#150c31;
    font-size:28px;
}
.join a{
    display: block;
    width:200px;
    height:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    background:#32be60;
    color:white;
    text-align: center;
    line-height:50px;
    font-size:18px;
    margin:  0 auto;
    margin-top:20px;
    transition: all .4s;
}
.join a:hover{
    transform: scale(1.1);
}


/****/
footer{
    width:100%;
    height:88px;
    background:#202020;
}
footer ul{
    width:510px;
    overflow: hidden;
    margin: 0 auto;
    padding-top:33px;
}
footer ul li{
    color:white;
    font-size:14px;
    margin-left:13px;
    float: left;
}
footer ul li a {
    color: white;
}